In [1]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print (apes)
print (conserved_sites)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']
[24, 56, 132]

In [3]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print("an ape:", apes[0])
first_site = conserved_sites[2]
print ("first site:", first_site)

an ape: Homo sapiens
first site: 132

In [5]:
#Use .index for when you don't know the index #
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
chimp_index = apes.index("Pan troglodytes")
# chimp_index is now 1
print ("chimp_index:",chimp_index)

chimp_index: 1

In [8]:
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
# lower ranks are class, order and family
print (lower_ranks)

['class', 'order', 'family']

In [10]:
#using .append
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
apes.append("Pan paniscus")
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Pan paniscus']

In [8]:
#append changes list length
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " apes")
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

In [10]:
#concatenate lists
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [13]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start: " + str(ranks))
#.reverse list order
ranks.reverse()
print("after reversing : " + str(ranks))
#.sort alphabetically
ranks.sort()
print("after sorting : " + str(ranks))

at the start: ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [15]:
for ape in apes:
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [21]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter + " and has " + str(name_length) + " letters.")

Homo sapiens is an ape. Its name starts with H and has 12 letters.
Pan troglodytes is an ape. Its name starts with P and has 15 letters.
Gorilla gorilla is an ape. Its name starts with G and has 15 letters.

In [22]:
#indentation errors
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)  
  first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unindent does not match any outer indentation level (<ipython-input-22-ba5d4ac1a26c>, line 4)

In [23]:
name = "Jasper"
for character in name:
    print("one character is " + character)

one character is J
one character is a
one character is s
one character is p
one character is e
one character is r

In [28]:
#make a string into a list
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
no_as = names.split("a")
print(str(species))
print(str(no_as))

['melanogaster', 'simulans', 'yakuba', 'ananassae']
['mel', 'nog', 'ster,simul', 'ns,y', 'kub', ',', 'n', 'n', 'ss', 'e']

In [30]:
protein = "vlspadktnv"
stop_positions = [3,4,5,6,7,8,9,10]
#start controlled by protein. stop controlled by stop_positions
for stop in stop_positions:
    substring = protein[0:stop]
    print(substring)

vls
vlsp
vlspa
vlspad
vlspadk
vlspadkt
vlspadktn
vlspadktnv

In [37]:
#so handy!
for number in range (6):
    print(number)

0
1
2
3
4
5

In [38]:
#even handier!
for number in range(1, 6):
    print(number)

1
2
3
4
5

In [41]:
#goes up by z in range(y,x,z)
for age in range(6, 20, 3):
    print (age)

2
6
10
6
9
12
15
18